:root {
    --sapphire: #041a72;
    --darkSapphire: #01135a;
    --darkerSapphire: #000045;
    --green-cyan: #00A56F;
    /* --emerald-green: #59BAB0; */
    --emerald-green: #59BAB0 ;
    --white: #fff;
    --white-smoke: #f5f5f5;
    --whisper: #eaeaea;
    --sky-blue: #00C2E1;
    --silver-tree: #66CC99;
    --light-sky: #6692CC;
    --black: #000;
    --light-b-pink-red: #dd0842;
    --Poppins: Poppins, sans-serif;
    --YesevaOne: Yeseva One, Montserrat, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --Oswald: Oswald, Montserrat, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --border-radius5: 5px;
    --border-radius10: 10px;
    --border-radius20: 20px;
    --box-shadow-1px: 1px 1px 1px rgba(0, 0, 0, 0.16);
    --underline: underline;
    --none: none;
    --auto: auto;
    --absolute: absolute;
    --pointer: pointer;
}
html, body {
  height: 100%;
  width: 100%;
 /* overflow-x: hidden; */
}
body {
  /* font-family: Poppins, Montserrat, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; */
  font-family: var(--Poppins);
  background-color: #000045;
  background-color: #d8dcdb;
  background-image: url(../images/background_light.png), url(../images/background_pattern.png);
  background-repeat: repeat-y,repeat;
  /* background-size: contain,100px 100px; */
  background-size: contain, 300px 300px;
    color: #000;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.pattern-bg{
  background-image: none;
  /* background-image: url(../images/background_light.png); */
}
/* allura-regular - latin */
@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/allura-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Allura Regular'), local('Allura-Regular'),
       url('../fonts/allura-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/allura-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/allura-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/allura-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/allura-v8-latin-regular.svg#Allura') format('svg'); /* Legacy iOS */
}
/* dynalight-regular - latin */
@font-face {
  font-family: 'Dynalight';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dynalight-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Dynalight'), local('Dynalight-Regular'),
       url('../fonts/dynalight-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dynalight-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dynalight-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dynalight-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dynalight-v9-latin-regular.svg#Dynalight') format('svg'); /* Legacy iOS */
}

/*font-size*/
.font-size-0pt8rem {font-size: 0.8rem;}
.font-size-0pt9rem {font-size: 0.9rem;}
.font-size-1rem {font-size: 1rem;}
.font-size-1pt1rem {font-size: 1.1rem;}
.font-size-1pt2rem {font-size: 1.2rem;}
.font-size-1pt3rem {font-size: 1.3rem;}
.font-size-1pt4rem {font-size: 1.4rem;}
.font-size-1pt5rem {font-size: 1.5rem;}
.font-size-1pt6rem {font-size: 1.6rem;}
.font-size-1pt7rem {font-size: 1.7rem;}
.font-size-1pt8rem {font-size: 1.8rem;}
.font-size-3pt5rem {font-size: 2.3rem;}
.font-size-7rem {font-size: 7rem;}

.font-family-san-serif{
  /* font-family: Poppins, Montserrat, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; */
  font-family: Poppins, sans-serif;

}

.cursor-pointer {cursor: pointer;}

.sapphire {
  color: #041a72;
  color: var(--sapphire);
}

.emerald-green {
  color: #59BAB0;
  color: var(--emerald-green);
}
.text-underline {
  text-decoration: underline;
  text-decoration: var(--underline);
}

/* cookie banner */
.cookieBanner{
  max-width: 24em ;z-Index:5000;background-color: #ebebeb;color: black;position:fixed;bottom:1em;left:1em;
}
/* cookie banner */


/*Button trans*/
.buttonRect .link_button {
  display: block;
  /* padding: 0.5rem 1rem; */
  padding: 1rem 1.2rem;
  min-width: 140px;
  letter-spacing: 1.45px;
  font-size: 0.6rem;
  line-height: 2;
  position: relative;
  text-transform: uppercase;
  color: #000;
  /* color: var(--white); */
  text-decoration: none;
  text-decoration: var(--none);
}
.glow {
  /* position:relative;
  top:40%;
  left:50%; */
  position:absolute;
  top:-5%;

  transform:translate(-50%, -50%);
  width:110px;
  height:50px;
  text-align:center;
  line-height:48px;
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  text-decoration:none;
  font-family:sans-serif;
  box-sizing:border-box;
  background:linear-gradient(98deg, green, blue, red, green);
  background-size:400%;
  border-radius:20px 0px;
  z-index:1;
  animation:animate 8s linear infinite;
}

.glow:hover{
  color: white !important;
  text-decoration: none !important;
}

@keyframes animate{
0%{
    background-position:0%;
}
100%{
    background-position:400%;
}
}
.buttonRect svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.buttonRect {
    position: relative;
    display: inline-block;
    min-width: 90px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* .buttonRect svg linearGradient > stop:nth-child(2), 
.buttonRect svg linearGradient > stop:nth-child(3){
  transition: stop-opacity 0.5s ease-in-out;
} */
/*
.buttonRect:hover svg linearGradient > stop:nth-child(2), .hoverElect:hover svg linearGradient > stop:nth-child(2), 
.buttonRect:hover svg linearGradient > stop:nth-child(3), .hoverElect:hover svg linearGradient > stop:nth-child(3){
  animation: 1s stopOpacity 1 forwards;
}
@keyframes stopOpacity{
  10%{
    stop-opacity: 0;
  }
  30%{
    stop-opacity: 0.3;
  }
  80%{
    stop-opacity: 0.7;
  }
  100%{
    stop-opacity: 1;
  }
}
*/
.buttonRect svg linearGradient > stop:nth-child(2), .hoverElect svg linearGradient > stop:nth-child(2), 
.buttonRect svg linearGradient > stop:nth-child(3), .hoverElect svg linearGradient > stop:nth-child(3){
  animation: stopOpacity 1s infinite;
  -webkit-animation: stopOpacity 1s infinite;
  -moz-animation: stopOpacity 1s infinite;
  
}
@keyframes stopOpacity{
  10%{
    stop-opacity: 0;
  }
  20%{
    stop-opacity: 0.3;
  }
  30%{
    stop-opacity: 0.7;
  }
  50%{
    stop-opacity: 1;
  }
  70%{
    stop-opacity: 0.7;
  }
  80%{
    stop-opacity: 0.3;
  }
  100%{
    stop-opacity: 0;
  }
  
}

@media (max-width: 768px) {
  .cookieBanner {
    max-width: 100%;
    bottom: 45px;
    left: 0;
  }
}

/*Min - 576px*/
@media (min-width: 576px) {
  /* .container {max-width: 540px;} */
  .buttonRect .link_button{
    font-size: .8rem;
    /* padding: .8rem 1.5rem; */
    padding: 1.5rem 1.8rem;
  }
  .ms-slide .buttonRect .link_button{
    padding: 1rem 1.6rem;
  }

  .glow{
    /* position:relative;
    top:40%;
    left:50%; */
    position:absolute;
    top:-40%;
    transform:translate(-50%, -50%);
    width:140px;
    height:50px;
    text-align:center;
    line-height:48px;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    text-decoration:none;
    font-family:sans-serif;
    box-sizing:border-box;
    background:linear-gradient(98deg, green, blue, red, green);
    background-size:400%;
    border-radius:20px 0px;
    z-index:1;
    animation:animate 8s linear infinite;
  }

  .glow:hover{
    color: white !important;
    text-decoration: none !important;
  }
  
}

.checkBox-cover .checkbox {
  opacity: 0;
  position: absolute;
}

.checkBox-cover .label {
  background-color: #000045;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  width: 50px;
  height: 26px;
  transform: scale(1.5);
  margin: 0;
}

.checkBox-cover .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}

.checkBox-cover .checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon-o {
  color: #fff;
}

.fa-sun-o {
  color: #f39c12;
}